packages/*
!packages/repositories.config
*BuiltFiles_QA*
*.orig
*.icon
*.svn*
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.dll
*[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
_UpgradeReport_Files/UpgradeReport_Warning.png
_UpgradeReport_Files/UpgradeReport_Success.png
_UpgradeReport_Files/UpgradeReport_Information.png
_UpgradeReport_Files/UpgradeReport_Error.png
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport.css
UpgradeLog.htm
UpgradeLog.XML
*/T4RenderCache/8d
*/IconCache/*
*/T4RenderCache/*
*.svn*
*.csproj.sitecore*
*/packages/*
**/ViewStart.cshtml

#### Front End ####
node_modules
.tmp
.tmp.html
.idea/
.sass-cache
**/assets/bower_components/
.CopySauce.json

Website/
.vs/config/applicationhost.config
src/TDS/TDS.Qlik.Master/TDS.Qlik.Master_EStafford.xml
src/Web/Qlik.Web.Sc/WFFM.aspx
src/Web/Qlik.Web.Sc/WFFM.aspx.cs
src/Web/Qlik.Web.Sc/WFFM.aspx.designer.cs
